# dépendances
/node_modules
/.pnp
.pnp.*
.yarn/*

# build Next.js
/.next/
/out/

# tests
/coverage

# production
/build

# divers
.DS_Store
*.pem

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# variables d'environnement (jamais commitées)
.env
.env*.local
!.env.example

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Prisma / éditeur
/src/generated
.vscode/*
!.vscode/extensions.json
/src/generated/prisma

/src/generated/prisma
